<form class="form-inline" ng-submit="addTodo()">
    <input class="form-control" type="text" ng-model="todoText" size="30"
           placeholder="add new todo here">
    <input class="btn btn-primary btn-sm" type="submit" value="add">
</form>
