<span>{{activeTodoList.Todos.length}} archived</span>
[ <a href="" ng-click="clearTodos()">clear</a> ]
<ul class="list-unstyled">
    <li ng-repeat="todo in activeTodoList.Todos" class="checkbox">
        <label>
            <input type="checkbox" disabled="disabled" ng-model="todo.IsDone" ng-change="updateTodo(todo)">
            <span class="done-{{todo.IsDone}}">{{todo.Text}}</span>
        </label>
    </li>
</ul>
