@{
    var title = "About";
    var message = "This is a sample web app with ASP.NET & AngularJS.";
}

<h1 class="page-header">@title</h1>
<p>@message</p>

<p>
created by <a href="mailto:mocha@mochaware.jp">mocha@mochaware.jp</a>
</p>